@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root{
    /*Colors*/
    --Lapizlazuli: #015C8F;
    --Tangerine: #F18B12;
    --MintCream: #EBF4ED;
    --CaputMortuum: #58201D;
    --EerieBlack: #161616;

    /*Fonts*/
    --font-monserrat: 'Montserrat', sans-serif;
    --font-abadi: 'Raleway', sans-serif;
    --font-hind: 'Hind', sans-serif;
}

.page-head {
    background: rgb(3,161,251);
    background: radial-gradient(circle, rgba(3,161,251,1) 30%, rgba(2,115,180,1) 70%, rgba(1,92,143,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 186.1px;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.menu-link {
    color: var(--MintCream);
    text-decoration: none;
    padding-left: 50px;
    font-family: var(--font-abadi);
}

.menu-link:hover {
    color: var(--Tangerine);
}

.menu i{
    padding: 5px;
}

body {
    margin: 0pt;
    font-family: var(--font-abadi);
    color: var(--EerieBlack);
}

.registrarUsuario, .form {
    display: flex;
    flex-direction: column;
}

.ns {
    display: flex;
    flex-direction: column;
    margin-right: 20px;   
}

.name-sur {
    display: flex;
}

.registrarUsuario, .group {
    float: left;
    width: 50%;
    padding: 0px 20px;
    box-sizing: border-box;
}

.group {
    margin-top: 90px;
    margin-left: 130px;
    width: 540px;
    height: auto;    
    filter: drop-shadow(10px 10px 10px #000) ;
    
}

.registrarUsuario {
    margin-top: 80px;
}

.registrar {
    padding-top: 10px;
}

.registrar input {
    width: 35%;
}

input {
    border-radius: 10px;
    padding: 3px 10px;
    border-color: var(--Lapizlazuli);
    font-family: var(--font-hind);
}

.eye {
    position:absolute;
    margin-top: 4px;
    margin-left: -32px;
}

.titulo {
    font-weight: bold;
}

h1 {
    color: var(--Tangerine);
    font-size: 40px;
}

.buttons {
    margin-top: 20px;
    margin-right: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bRegistrar {
    background-color: var(--Lapizlazuli);
    border-radius: 50px;
    border: none;
    padding: 10px 40px;
    color: var(--MintCream);
}

.bRegistrar:hover{
    background-color: #068dee

}

.bAtras {
    background-color: var(--CaputMortuum);
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
}

.bAtras:hover{
    background-color:#9c3a35;
}

.bLink, .bRegistrar {
    text-decoration: none;
    font-family: var(--font-monserrat);
    font-size: bold;
    color: var(--MintCream);
}

.checkbox {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.checkbox label {
    padding: 5px;
}

.T-C{
    text-decoration: none;
    font-size: bold;
    color: var(--EerieBlack);
}

.T-C:hover {
    color: var(--Tangerine);
    text-decoration: underline;
}