@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

:root{
    /*Colors*/
    --Lapizlazuli: #015C8F;
    --Tangerine: #F18B12;
    --MintCream: #EBF4ED;
    --CaputMortuum: #58201D;
    --EerieBlack: #161616;

    /*Fonts*/
    --font-monserrat: 'Montserrat', sans-serif;
    --font-abadi: 'Raleway', sans-serif;
    --font-hind: 'Hind', sans-serif;
}


.page-head {
    background-color: var(--Lapizlazuli);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 186.1px;
    
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

.banner {
    margin-top: 74px;
    margin-bottom: 0px;
}

.menu-link {
    color: var(--MintCream);
    text-decoration: none;
    padding-left: 50px;
    font-family: var(--font-abadi);
}

.menu-link:hover {
    color: var(--Tangerine);
}

body {
    margin: 0pt;
    font-family: var(--font-abadi);
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.reservarVuelo {
    background-color: var(--Lapizlazuli);
    padding: 10px 15%;
}

.titulo {
    color: var(--MintCream);
    font-size: 10px;
}

.form {
    display: flex;
    margin: 5px 10px 10px 10px;
    padding-left: 20px;
}

.org-des {
    display: flex;
    margin-bottom: 10px;
}

.funcion {
    display: flex;
}

.personas {
    color: var(--MintCream);
    padding-left: 5px;
}

input {
    border-color: var(--MintCream);
}

.reservar {
    margin-left: 50px;
}

.org span {
    padding: 24px;
}

h1 {
    font-family: var(--font-monserrat);
    margin: 10px 0px 8px 25%;
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
    text-transform: uppercase;
    color: var(--Tangerine);
}

.h1 {
    margin-left: -25px;
    font-size: 85px;
    color: var(--Lapizlazuli)
}

h2 {
    margin: 0px 10px;
    color: var(--MintCream);
}

h3 {
    font-family: var(--font-monserrat);
    font-weight: 500;
    margin-bottom: 0px;
    color: var(--Tangerine);
}

h3.article {
    font-family: var(--font-hind);
    font-weight: 500;
    font-size: 30px;
    margin-top: 10px;
}

h3.aside {
    font-weight: bold;
    margin-bottom: 18.720px;
    color: var(--CaputMortuum);
}

p {
    margin-top: 0px;
    color: var(--EerieBlack);
}

.comentarios img {
    padding: 10px;
    width: 90px;
    height: auto;
    border-radius: 100%;
}

.comentarios { 
    display: flex;
    margin: 0px 40px 20px 30px;
    background-color: var(--Lapizlazuli);
    border-radius: 15px;
}

.comentarios div.user{
    color: #EBF4ED;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.userName {
    padding: 10px 0px 5px 0px;
    font-size: 16px;
    font-weight: bold;
    color: var(--Tangerine);
}

.information {
    float: left;
    width: 50%;
    padding: 0px 20px;
    box-sizing: border-box;
}
