<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación de vuelos</title>
    <link rel="icon" type="svg" href="{{url_for('static', filename='icons/Logo.svg')}}">
    <link rel= "stylesheet" type="text/css" href="{{url_for('static', filename='css/AgregarVueloStyle.css')}}">
    AgregarVueloStyle.css
</head>
<body>
    <header class="page-head">
        <a href="/HomeAdministrador" class="logo">
            <img src="{{url_for('static', filename='icons/GuapiLogo.svg')}}" alt="Aeropuerto Juan Casiano" height="auto" width="150pt">
        </a>
        <nav class="menu">
            <a href="/HomeAdministrador" class="menu-link"><i class= "fas fa-solid fas fa-home" ></i>Inicio</a>
            <a href="/Login" class="menu-link"><i class="fas fa-solid fas fa-sign-in-alt"></i>Ingresar</a>
            <a href="/RegistroUsuarioAdmin" class="menu-link"><i class="fas fa-solid fas fa-users"></i>Registrar</a>
        </nav>
    </header>

    <main>
        <img src="{{url_for('static', filename='icons/airplane.svg')}}" alt="Icóno de avión" class="airplane"/>
        <form class="crearVuelo" method="GET" action="" onsubmit="validar();">
            <h1>Crear Vuelo</h1>
            <div class="form">
                <label class="crear b">
                    <span class="titulo">Código de Vuelo:</span>
                    <input type="text" id="vuelo" placeholder="ID vuelo">    
                </label>
                <span class="warning" id="vWarning"></span>
                <br>
                <div class="org-des one">
                    <label class="od">
                        <span class="titulo">Origen:</span>
                        <input type="text" id="origen" placeholder="Ciudad de origen">
                        <span class="warning" id="orgWarning"></span>
                    </label>
                    <label class="od">
                        <span class="titulo">Destino:</span>
                        <input type="text" id="destino" placeholder="Ciudad de destino">
                        <span class="warning" id="desWarning"></span>
                    </label>
                </div>
                <label class="crear">
                    <span class="titulo">Fecha de Salida:</span>
                    <input type="date" id="departure-D">
                </label>
                <label class="crear">
                    <span class="titulo">Hora de Salida:</span>
                    <input type="time" id="departure-H">
                </label>
                <br>
                <div class="org-des">
                    <label class="od">
                        <span class="titulo">Nombre del Piloto:</span>
                        <input type="text" id="pilotName" placeholder="Nombre Piloto">
                        <span class="warning" id="npWarning"></span>
                    </label>
                    <label class="od">
                        <span class="titulo">Código de Piloto:</span>
                        <input type="text" id="pilotID" placeholder="ID Piloto">
                        <span class="warning" id="cpWarning"></span>
                    </label>
                </div>
                <br>
                <label class="crear b">
                    <span class="titulo">Código de Avión:</span>
                    <input type="text" id="airplane" placeholder="ID avión">
                </label>    
                <span class="warning" id="capWarning"></span>
            <div class="buttons">
                <button class="bCrear" id="bCrear" type="submit">Crear</button>
                <a href="/HomeAdministrador" class="bAtras">Atras</a>    
            </div>
        </form>
    </main>
    
</body>

<script type="text/javascript" src="{{url_for('static', filename='js/AgregarVueloScript.js')}}"></script>
<script src="https://kit.fontawesome.com/07398d27e2.js" crossorigin="anonymous"></script>

</html>
