<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
    <link rel="icon" type="svg" href="{{url_for('static', filename='icons/Logo.svg')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/EliminarUserStyle.css')}}">
    <script src="https://kit.fontawesome.com/07398d27e2.js" crossorigin="anonymous"></script>
</head>

<body>

    <header class="page-head">
        <a href="/HomeAdministrador" class="logo">
            <img src="{{url_for('static', filename='icons/GuapiLogo.svg')}}" alt="Aeropuerto Juan Casiano" height="auto" width="150pt">
        </a>
        <nav class="menu">
            <a href="/HomeAdministrador" class="menu-link"><i class= "fas fa-solid fas fa-home" ></i>Inicio</a>            
            <a href="/RegistroUsuarioAdmin" class="menu-link"><i class="fas fa-solid fas fa-users"></i>Registrar</a>
        </nav>
    </header>

    <main>
        <img src="{{url_for('static', filename='icons/userb.svg')}}" alt="user+.svg" class="user"/>
        <form class="eUsuario" method="GET" action="">
            <h1>Eliminar Usuario</h1>
            <div class="form">
                <label class="ns">
                    <span class="titulo">Usuario:</span>
                    <input type="text" name="userName">
                </label>
                <label class="ns">
                    <span class="titulo">Correo Electronico:</span>
                    <input type="email" name="email" placeholder="example@correo.com">
                </label>
                <label class="ns">
                    <span class="titulo">Contraseña:</span>
                    <input type="password" name="password">
                </label>
                <label class="ns">
                    <span class="titulo">Motivo de la Eliminación:</span>
                    <textarea class="comentario" placeholder="Indique breve descripción de la eliminación"></textarea>
                </label>
            </div>
            <div class="links">
                <button class="bBorrar">Eliminar</button>
                <button class="bAtras">
                    <a href="/HomeAdministrador" class="bLink">Atras</a>
                </button>
            </div>
        </form>
    </main>
</body>