<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" type="svg" href="{{url_for('static', filename='icons/Logo.svg')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/RegistrarStyle.css')}}">
    <script src="https://kit.fontawesome.com/07398d27e2.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header class="page-head">
        <a href="/HomeAdministrador" class="logo">
            <img src="{{url_for('static', filename='icons/GuapiLogo.svg')}}" alt="Aeropuerto Juan Casiano" height="auto" width="150pt">
        </a>
        <nav class="menu">
            <a href="/HomeAdministrador" class="menu-link"><i class= "fas fa-solid fas fa-home" ></i>Inicio</a>            
            <a href="/RegistroUsuarioAdmin" class="menu-link"><i class="fas fa-solid fas fa-users"></i>Registrar</a>
        </nav>
    </header>

    <main>
        <img src="{{url_for('static', filename='icons/group.svg')}}" alt="group.svg"class="group">
        <form class="registrarUsuario" method="GET" action="">
            <h1>Registrar nueva cuenta</h1>
            <div class="form">
                <div class="name-sur">
                    <label class="ns">
                        <span class="titulo">Nombres:</span>
                        <input type="text" name="name">
                    </label>
                    <label class="ns">
                        <span class="titulo">Apellidos:</span>
                        <input type="text" name="surname">
                    </label>
                </div>
                <label class="registrar">
                    <span class="titulo">Sexo:</span>
                    <select name="sex">
                        <option value="" selected>--Seleciona tu sexo--</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="null">Prefiero no decir</option>
                    </select>
                </label>
                <label class="registrar">
                    <span class="titulo">Fecha de Nacimiento:</span>
                    <input type="date" name="birthday">
                </label>
                <span class="pWarning" id="b-dayWarning"></span>
                <label class="registrar">
                    <span class="titulo">Correo Electrónico:</span>
                    <input type="email" name="email" placeholder="example@correo.com">
                </label> <span class="pWarning" id="e-Warning"></span> <br>
                <label class="registrar">
                    <span class="titulo">Usuario:</span>
                    <input type="text" name="username">
                </label> <span class="uWarning" id="uWarning"></span>
                <label class="registrar">
                    <span class="titulo">Contraseña:</span>
                    <input type="password" name="password">
                    <img src="{{url_for('static', filename='icons/eyeO.svg')}}" alt="ver" class="eye">
                </label>                
                <span class="pWarning" id="pWarning"></span>
                <label for="" class="registrar">
                    <span class="titulo">Confirmar Contraseña:</span>
                    <input type="password" name="pconfirmation">
                    <img src="{{url_for('static', filename='icons/eyeO.svg')}}" alt="ver" class="eye">
                </label>
                <span class="pcWarning" id="pcWarning"></span>
                <label class="registrar">
                    <span class="titulo">Tipo de Usuario:</span>
                    <select name="userType">
                        <option value="superadministrador">Administrador</option>
                        <option value="usuario" selected>Usuario</option>
                        <option value="piloto">Piloto</option>
                    </select>
                </label>
            </div>
            <div class="buttons">
                <button class="bRegistrar" type="submit">Registrarse</button>
                
                <a href="/HomeAdministrador" class="bLink"><button class="bAtras">Atras</button></a>
                
            </div>
        </form>
    </main>

</body>
</html>
